#header {
    overflow: hidden;
    background-color: purple;
    padding: 20px 10px;
}

#logo {
    float: left;
    color: gray;
    padding: 10px;
    font-size: 25px;
    line-height: 1.6;
    font-weight: bolder;
}

#logo:hover {
    background-color: black;
}

#header-right {
    float: right;
    padding: 10px;
}

@media screen and (max-width: 500px) {
    #header {
      float: none;
      display: block;
      text-align: left;
    }
    #header-right {
      float: none;
    }
  }

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: purple;
    color: black;
    padding: 20px 10px;
}